{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true,
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module",
    
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": ["react", "@typescript-eslint", "react-hooks", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"

  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    /**
     * @description rules of eslint-plugin-react-hooks
     */
    "react-hooks/rules-of-hooks": "error",

    /**
     * @description rules of eslint-plugin-prettier
     */
    "prettier/prettier": [
      "error", {
        "printWidth": 500,
        "singleQuote": true,
        "trailingComma": "es5",
        "tabWidth": 2
      }
    ]
  }
}